'use strict'
module.exports = {
  // The key received from pusher
  // If empty, pusher will be disabled
  PUSHER_KEY: '""',
  // Show debug information from pusher. Should be false in prod!
  PUSHER_DEBUG: 'true'
}
