'use strict'
module.exports = {
  // The URL of the backend API
  BACKEND_URL: '"http://192.168.1.92:5000"',
  // Enable debug messages fro pusher
  PUSHER_DEBUG: 'true',
  // Which channel to subscribe to
  PUSHER_TEAM_CHANNEL: '"team-station-state-dev"',
  PUSHER_FILE_CHANNEL: '"file-events-dev"'
}
