export default {

  // The URL at which the backend is reachable
  BACKEND_URL: 'http://192.168.1.2:5000',

  // Pusher.com auth info (leave PUSHER_KEY empty to disable)
  PUSHER_KEY: '1234567890abcdef',
  PUSHER_DEBUG: true

}
